.father {
    display: flex;
    align-items: center;
    width: 98vw;
    height: 10vh;
    padding: 0 1vw;
    background-color: rgba(31, 32, 32, 0.5);
    color: whitesmoke;
  }
  .logo {
    display: flex;
    align-items: center;
    color: white;
    min-width: 5vw;
  }
  .deploy {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    color: white;
    min-width: 5vw
  }
  .market {
    display: flex;
    align-items: center;
    margin-left: 40vw;
    color: white;
    min-width: 5vw
  }
  .user {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    color: white;
    min-width: 5vw
  }
  .deploy_link{
    color: white;
    text-decoration: none;
    font-size: large;
  }
  .market_link{
    color: white;
    text-decoration: none;
    font-size: large;
  }
  .user_link{
    color: white;
    text-decoration: none;
    font-size: large
  }
  .DAO_name{
    margin-left: 0.5vw;
    min-width: 10vw
  }
.DAO_name_link{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
  .logo_image {
    width: 4vw;
    height: auto; 
    border-radius: 100%;
  }

  .connect_wallet_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-width: 10vw;
    margin-left: 1vw;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:rgb(31, 32, 32.0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .connected_state {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(86, 86, 86, 0.5); 
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: default; /* ???? */
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); 
  }
  