.father {
    display: flex;
    align-items: center;
    width: 98vw;
    height: 10vh;
    padding: 0 1vw;
    background-color: rgba(31, 32, 32, 100);
    color: whitesmoke;
  }
  .logo {
    display: flex;
    align-items: center;
    color: white;
    min-width: 5vw;
  }
  .home {
    display: flex;
    align-items: center;
    margin-left: 53vw;
    color: white;
    min-width: 5vw
  }
  .user {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    color: white;
    min-width: 5vw
  }
  .home_link{
    color: white;
    text-decoration: none;
    font-size: large;
  }
  .user_link{
    color: white;
    text-decoration: none;
    font-size: large
  }
  .DAO_name{
    margin-left: 0.5vw;
    min-width: 7vw
  }
.DAO_name_link{
    color: white;
    text-decoration: none;
    font-size: large;
}
  .logo_image {
    width: 4vw; /* 设置图片宽度 */
    height: auto; /* 保持图片比例 */
    border-radius: 100%;
  }

  .connect_wallet_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-width: 10vw;
    margin-left: 1vw;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:rgb(31, 32, 32);/* ????? */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ???? */
  }
  
  .connected_state {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(86, 86, 86, 0.5); /* Connected?????? */
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: default; /* ???? */
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* ??????? */
  }
  