/* deposit.module.css */


.depositPage {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(60, 60, 60, 100); */
    background: #ebbd92;
    background: linear-gradient(90deg, #3f3f3f 0,#6c6262 58%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.content {
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 6vw;
    gap: 2vw;
    height: 91vh;
}


.card {
    display: flex;
    background-color: rgb(34, 34, 34, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 50vw;
    height: 60vh; 
    flex-direction: column;
    align-items: center;
}


.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: whitesmoke;
}

.tokenInfo {
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    margin-left: 10vw;
}

.stakeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.status {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    text-align: center;
}

.cardContainer{
    display: flex;
    min-width: 50vw;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.stake_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    border: 1px solid rgba(173, 173, 173, 0.1);
    border-radius: 1%;
    min-height: 20vh;
    min-width: 45vw;
    overflow-y: auto; /* 让 .stake_content 在内容溢出时显示滚动条 */
}

.stake_button {
    margin-top: 5vh;
    background: rgba(34, 34, 34, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 8px; /* Optional: Rounded corners for the frosted glass effect */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow to enhance the frosted effect */
    transition: backdrop-filter 0.3s ease; /* Smooth transition when hovering */
}


.stake_button:hover {
    backdrop-filter: blur(20px); /* Increase blur on hover */
    -webkit-backdrop-filter: blur(20px); /* Safari support */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Optional: Shadow effect on hover */
  }
.customButton {
    font-size: 20px; 
    padding: 15px 30px; /* 增大按钮的内边距 */

    border: none; /* 去掉默认边框 */
    color: rgba(255, 255, 255, 0.811); /* 设置字体颜色为白色 */
    border-radius: 5px; /* 设置按钮圆角 */
    min-width: 20vw;
    min-height: 5vh;
    text-align: center; /* 确保文本水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* 鼠标悬浮时显示指针 */
    transition: all 0.3s ease; /* 添加过渡效果 */
  }

  
.customButton:hover{
    color: white;
}